html{
  height: 100%;
}
body{
  background-color: #96a8e8;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.header{
  float: left;
  font-family: 'Lobster', cursive;
  text-align: center;
  width: 100%;
  background-color: #152661;
  color: white;
  height: 60px;
}
.container{
  height: 100%;
  display: flex;
}
.title-page{
  margin: 0.5% auto;
}
.main{
  float: right;
  margin: 2.5%;
  width: 70%;
}
.presentation{
  font-family: "Prompt", sans-serif;
  color: white;
  text-shadow: 4px 2px 3px #808080;
  text-align: right;
  margin-bottom: 4%;
}
.main-table{
  text-align: center;
  border-collapse: collapse;
  height: 100px;
  width: 50%;
  margin: 0 23%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  font-family: "Prompt", sans-serif;
}
.main-table-head{
  color: white;
  font-size: large;
  background-color: #55608f;
  padding: 10px;
}
.main-table-subtitle{
  font-weight: bold;
  background-color: #96AAFF;
}
.main-table-content{
  background-color: #E3E8FF;
}
.main-table-content:hover{
  background-color: rgba(255,255,255,0.3);
}
.table-results{
  text-align: center;
  border-collapse: collapse;
  height: 100px;
  width: 50%;
  padding: 3px;
  margin: 0 23%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  font-family: "Prompt", sans-serif;
}
.table-title{
  margin-top: 20px;
  background: #3c55ad;
  color: white;
  font-size: large;
}
.table-body tr:nth-child(2n){
  background: #E3E8FF;
}
.table-body tr:hover{
  background-color: rgba(255,255,255,0.3);
}
.total{
  font-weight: bold;
}
.navigation{
  float: left;
  width: 25%;
  height: 115%;
  background-color: #3d486c;
  color: white;
}
.title-filter{
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 0;
}
.title-nav{
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  font-size: 127%;
}
.choice{
  margin: 5%;
  border: none;
}
.radio{
  margin-left: 4.5%;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s all linear;
  border: 2px solid white;
}
.radio:hover{
  cursor: pointer;
}
.radio:checked {
  border: 5px solid white;
}
.label-year{
  font-family: "Prompt", sans-serif;
  font-size: 15px;
}
.label-year:hover{
  cursor: pointer;
}
.years-labels{
  display: block;
  font-family: "Prompt", sans-serif;
  text-align: center;
}
.years-united{
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 15%;
}
.year-input{
  width: 70px;
  text-align: center;
}
.selector{
  margin-left: 30%;
  font-family: "Prompt", sans-serif;
  width: 33%;
  margin-top: 4%;
}
.selector:hover{
  cursor: pointer;
  box-shadow: 0px 2px 12px rgba(255,255,255,0.3);
}
.button{
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 10%;
  font-family: "Prompt", sans-serif;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 36%;
  background-color: white;
}
.button:hover{
  cursor: pointer;
  box-shadow: 0px 2px 12px rgba(255,255,255,0.3);
}
.order{
  margin: 5px 36px;
}
.sort{
  margin-top: 0;
}
.error-message{
  font-size: 150%;
    font-family: "Prompt", sans-serif;
    font-weight: bolder;
    color: rgb(226, 13, 13);
    text-align: center;
    margin-top: 3%;
}

@media (max-width: 1280px){
  .header{
    height: 10%;
    font-size: -webkit-xxx-large;
  }
  .container{
    flex-direction: column;
    height: auto;
  }
  .title-page{
    margin: 2% auto;
  }
  .title-filter{
    margin-top: 1%;
    font-size: 278%;
  }
  .radio{
    width: 35px;
    height: 35px;
    border: 5px solid white;
    margin-left: 10%;
  }
  .radio:checked {
    border: 10px solid white;
  }
  .label-year{
    font-size: 40px;
  }
  .years-labels{
    font-size: 40px;
  }
  .years-united{
    width: 26%;
  }
  .year-input{
    width: 100%;
    line-height: 1.8;
    font-size: x-large;
  }
  .selector{
    margin-left: 33%;
    font-size: 28px;
  }
  .button{
    font-size: 38px;
    margin-top: 25px;
    margin-left: 41%;
  }
  .title-nav{
    margin-top: 4%;
    font-size: 230%
  }
  .selector{
    margin-top: 2%;
  }
  .presentation{
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
  }
  .navigation{
    width: 100%;
    height: auto;
    order: 2;
  }
  .form-filter{
    height: 100%;
  }
  .choice{
    margin: 1% 9%;
  }
  .main{
    margin: auto;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 0;
  }
  .main-table{
    width: 90%;
    margin: auto;
  }
  .main-table-head{
    font-size: xx-large;
  }
  .main-table-subtitle{
    font-size: 30px;
  }
  .main-table-content{
    font-size: 27px;
  }
  .table-results{
    margin: auto;
    width: 90%;
    margin-bottom: 15px;
  }
  .table-title{
    font-size: xx-large;
  }
  .table-body{
    font-size: 27px;
  }
}
