/* *{
  margin: 0;
  padding: 0;
} */
html{
  height: 100%;
}
body{
  background-color: #96a8e8;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header{
  float: left;
  font-family: 'Lobster', cursive;
  text-align: center;
  width: 100%;
  background-color: #152661;
  color: white;
  height: 60px;
}
.title-page{
  margin: 0.5% auto;
}
.principal{
  float: right;
  margin: 2.5%;
  text-align: -webkit-center;
  width: 70%;
}
.apresentacao{
  font-family: "Prompt", sans-serif;
  color: white;
  text-shadow: 4px 2px 3px #808080;
  text-align: right;
  margin-bottom: 10%;
}
.main-table{
  text-align: center;
}
.table-head{
  color: #662200;
  font-size: large;
}
.navigation{
  float: left;
  width: 25%;
  height: 100%;
  background-color: #3d486c;
  color: white;
}
.title-filter{
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 0;
}
.choice{
  display: block;
  margin-top: 0;
}
.button-year{
  padding: 5px 12px;
  width: 40%;
  border-radius: 200px;
  font-family: "Prompt", sans-serif;
  font-size: 12px;
  margin: 5% 13px;
}
.years-labels{
  display: block;
  font-family: "Prompt", sans-serif;
  text-align: center;
}
.years-united{
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 15%;
}
.year-input{
  width: 70px;
  text-align: center;
}
.transport{
  margin-left: 30%;
  font-family: "Prompt", sans-serif;
}
.search-button{
  padding: 5px 15px;
  border-radius: 200px;
  font-family: "Prompt", sans-serif;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 35%;
  display: block;
}
.footer{
  text-align: center;
}
